<div>
    <h2 id="page-heading">
        <span>Saldo de Caja Chica</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pettyCashes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Cantidad</span></th>
            <th><span>Fecha Actualización</span></th>
            <th><span>Código</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pettyCash of pettyCashes ;trackBy: trackId">
                <td><a [routerLink]="['/petty-cash', pettyCash.id, 'view' ]">{{pettyCash.id}}</a></td>
                <td>{{pettyCash.amount}}</td>
                <td>{{pettyCash.dateUpdate | date:'medium'}}</td>
                <td>{{pettyCash.code}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/petty-cash', pettyCash.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
