<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pettyCash">
            <h2><span>Saldo de Caja Chica</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{pettyCash.amount}}</span>
                </dd>
                <dt><span>Fecha de Actualización</span></dt>
                <dd>
                    <span>{{pettyCash.dateUpdate | date: 'medium'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atrás</span>
            </button>
        </div>
    </div>
</div>
