<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entry">
            <h2><span>Registro</span> {{entry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{entry.amount}}</span>
                </dd>
                <dt><span>Fecha de Registro</span></dt>
                <dd>
                    <span>{{entry.dateEntry | date:'medium'}}</span>
                </dd>
                <dt><span>Cantidad Anterior</span></dt>
                <dd>
                    <span>{{entry.previousBalance}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atrás</span>
            </button>
        </div>
    </div>
</div>
