<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="request">
            <h2><span>Request</span> {{request.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{request.name | requestStatus}}</span>
                </dd>
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{request.amount}}</span>
                </dd>
                <dt><span>Fecha de Solicitud</span></dt>
                <dd>
                    <span>{{request.requestDate | date:'medium'}}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{request.status | requestStatus}}</span>
                </dd>
                <dt><span>Fecha de Revisión</span></dt>
                <dd>
                    <span>{{request.reviewDate}}</span>
                </dd>
                <dt><span>Descripción</span></dt>
                <dd>
                    <span>{{request.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atrás</span>
            </button>

            <button type="button"
                    [routerLink]="['/request', request.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Revisar</span>
            </button>
        </div>
    </div>
</div>
