<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-request-heading">Revisión de Solicitud</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!request.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="request.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="request.name" required minlength="0" maxlength="80" readonly/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.minlength">
                        This field is required to be at least 0 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_amount">Cantidad</label>
                            <input type="number" class="form-control" name="amount" id="field_amount"
                                   [(ngModel)]="request.amount" required min="0.01" jhiMin="0.01" readonly/>
                            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.amount?.errors?.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.amount?.errors?.min">
                                    This field should be at least 0.01.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.amount?.errors?.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_requestDate">Fecha de Solicitud</label>
                            <div class="d-flex">
                                <input id="field_requestDate" type="datetime-local" class="form-control" name="requestDate" [(ngModel)]="requestDate"
                                       required readonly/>
                            </div>
                            <div [hidden]="!(editForm.controls.requestDate?.dirty && editForm.controls.requestDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.requestDate?.errors?.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.requestDate?.errors?.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Descripción</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="request.description" />
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" id="reject-button" class="btn btn-danger"
                                (click)="reject()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Rechazar</span>
                        </button>
                    </div>
                    <div class="offset-md-7 col-md-1">
                        <div class="float-md-right">
                            <button type="button" id="cancel-button" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 float-md-right">
                        <div class="float-md-right">
                            <button type="button" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                    class="btn btn-success" (click)="approve()">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Aprobar</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
