<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
            <div *ngSwitchCase="false">
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    Crear Solicitud
                </button>
                <jhi-alert></jhi-alert>
                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <form name="editForm" role="form" novalidate (ngSubmit)="save(); editForm.reset();"
                                  #editForm="ngForm">
                                <h2 id="jhi-request-heading">Creación de Solicitud</h2>
                                <div>
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="form-group">
                                        <label class="form-control-label" for="field_name">Nombre</label>
                                        <input type="text" class="form-control" name="name" id="field_name"
                                               [(ngModel)]="request.name" required minlength="0" maxlength="80"/>
                                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.name?.errors?.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.name?.errors?.minlength">
                                                This field is required to be at least 0 characters.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.name?.errors?.maxlength">
                                                This field cannot be longer than 80 characters.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="field_amount">Cantidad</label>
                                        <input type="number" class="form-control" name="amount" id="field_amount"
                                               [(ngModel)]="request.amount" required min="0.01" jhiMin="0.01"/>
                                        <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.amount?.errors?.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.amount?.errors?.min">
                                                This field should be at least 0.01.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.amount?.errors?.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="editForm.reset(); isCollapsed = !isCollapsed;">
                                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                                    </button>
                                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
